.border-line{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #62DB54 0%, #62DB54 50%, #09ACF5 50%, #09ACF5 100%);
}
header{
    a{
        color: #fff !important;
    }
    a:hover{
        color: $primary !important;
    }
}